/* Write your CSS here */
.suggestion_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 15px;
}
.text {
  color: #475569;
  font-family: Roboto;
  font-size: 15px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 18px;
  }
}
.arrow_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.arrow {
  height: 14px;
  width: 14px;
}
@media screen and (min-width: 768px) {
  .arrow {
    height: 20px;
    width: 20px;
  }
}
